<h1>Informations</h1>
    <button type="button" (click)="updateUser()"> Edit profile</button>
    <p> User Name : {{name}} </p>
    <p> Email adress : {{mail}} </p>
    <p> </p>

<h1>My pentry</h1>
    <form [formGroup]="ingredientform">
        <input type="text" id="ingredient" placeholder="ingredient" formControlName="ingredient">
        <button type="submit" (click)="addIngredient()"> add an ingredient</button>
    </form>
    
    <ul> 
        <li *ngFor="let ingredient of currentUser.pentry;">
            {{ currentUser.pentry }}
        </li>
    </ul>
    

