<div *ngIf="viewMode; else editable">
  <div *ngIf="currentUser._id">
    <div>
      <label><strong>Name:</strong></label> {{ currentUser.email }}
    </div>

    <div>
      <label><strong>Password:</strong></label>
      {{ currentUser.password }}
    </div>

    <a routerLink="/user/{{ currentUser._id }}">
      Edit
    </a>
  </div>

  <div *ngIf="!currentUser">
    <br />
    <p>Please click on a User...</p>
  </div>
</div>

<ng-template #editable>
  <div *ngIf="currentUser._id">
    <h4>User</h4>
    <form>
      <div>
        <label for="name">Email</label>
        <input
          type="text"
          id="name"
          [(ngModel)]="currentUser.email"
          name="name"
        />
      </div>
      <div>
        <label for="password">Password</label>
        <input
          type="text"
          id="password"
          [(ngModel)]="currentUser.password"
          name="password"
        />
      </div>
    </form>

    <button (click)="deleteUser()">
      Delete
    </button>

    <button
      type="submit"
      (click)="updateUser()"
    >
      Update
    </button>
    <p>{{ message }}</p>
  </div>

  <div *ngIf="!currentUser.email">
    <br />
    <p>Cannot access this User... </p>
  </div>
</ng-template>
