
@import 'reset';

//General

body{
    background-image: url(assets/homebackground.jpg);
    background-position: 0px 0px;
    background-repeat: repeat;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    line-height: 1.5em;
}

.bloc-page{
    min-height:100vh;
}

.boxed-page{
    background-color: #f9f8f6;
    width:70%;
    margin:auto;
    padding-left:30px;
    padding-right:30px;
    min-height:90vh;
}

p{
    padding:15px;
}

h1{
    letter-spacing: 5px;
    text-align: center;
}

//standard texts

.big-text{
    font-family: "Open Sans";
    text-transform: uppercase;
    letter-spacing: 15px;
    line-height: 60px;
    font-weight: 600;
    font-size: 40px;
    text-align: center;
}

.medium-text{
    font-family: "Open Sans";
    text-transform: uppercase;
    letter-spacing: 10px;
    line-height: 30px;
    font-weight: 600;
    font-size: 30px;
    text-align: center;
}

.small-text{
    font-family: "Open Sans";
    letter-spacing: 4px;
    line-height: 20px;
    font-weight: 600;
    font-size: 20px;
    text-align: left;
    text-decoration: underline;
}

a{
    color: #6f6f6f;
}

a:visited{
    color: #3b3b3b;
}


//Header

.header-wrapper{
    margin-bottom: 20px;
    padding-bottom:20px;
}

.header-wrapper img{
    width:200px;
}

.header-logo{
    display: flex;
    justify-content: center;
}

nav ul { 
    width:50%;
    margin:auto;
    display: flex;
    justify-content: center;
    padding: 10px 20px;
    font-size: 16px;
    line-height: 16px;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
}

nav ul li{
    padding: 10px 20px;
}

nav a{
    text-decoration: none;
}

nav a:hover {
    color: #a1a1a1;
}

//Home

.hero{
    background-image: url('assets/cookmebackground.jpg');
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 580px;

    display:flex;
    justify-content: center;
    flex-direction: column;
    padding-left:30%;
    padding-right:30%;
    margin-bottom:30px;
}

.home-main{
    padding-top:60px;
    padding-bottom:90px;
    display: flex;
}

.home-main h1{
    text-align: left;
    padding: 20px;
    line-height: 30px;
    font-size: 18px;
    letter-spacing: 6px;
}

.home-main-image{
    background-image: url('assets/cookmehomepicture.jpg');
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    width:33%;
}

.home-main-text{
    width:66%;
}

//Login page

.login-wrapper{
    margin-left:15%;
    margin-right: 15%;
    width:70%;
    display:flex;
    justify-content: center;
    flex-direction: column;
    // border: 1px solid black;
    border: 8px double black;
    background-color: #e9e7e7;
}

.login-wrapper img, .login-wrapper .medium-text{
    padding:30px;
}


.login-wrapper form{
    margin:auto;
}

.form-group *{
    margin: 0px 20px 20px 20px;
    padding: 20px;
}

.forgot-password{
    padding: 20px;
    text-align: center;
}

.login-wrapper > img{
    width:auto;
}

.vertical-blank{
    height:100px;
}

//Signup page
.signup-wrapper{
    margin-left:15%;
    margin-right: 15%;
    width:70%;
    display:flex;
    justify-content: center;
    flex-direction: column;
    // border: 1px solid black;
    border: 8px double black;
    background-color: #e9e7e7; 
}

.signup-wrapper img, .signup-wrapper .medium-text{
    padding:30px;
}


.signup-wrapper form{
    margin:auto;
}

.signup-wrapper .form-group{
    display: flex;
    justify-content: center;
}

.already-got-account{
    padding: 0px;
    text-align: center;
}

//both:

.login-wrapper .small-text, .signup-wrapper .small-text{
    text-align: center;
    margin-top:-20px;
    text-decoration: none;
}

.signup-wrapper .small-text{
    margin-bottom: 30px;
}

//POPUP

.popup-wrapper{
    padding:30px;
}

//Footer

.footer-wrapper{
    background-color: black;
    color:white;
    width:70%;
    margin:auto;
    padding:30px;
    height:auto;
    text-align: center;

}

.footer-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    align-items: center;
}

.footer-container div{
    padding: 20px;
}

.credits, .university, .logo-footer{
    width:70%;
    margin:auto;
}

.logo-footer{
    padding-bottom: 20px;
}

.credits, .university{
    padding:20px;
}

.logo-footer img{
    width:40%;
    padding:20px;
    padding-bottom: 0px;
}

.footer-container p{
    padding:0px;
}


//Search Page

.search-wrapper{
    border: 8px double black;
    width:70%;
    margin:auto;
    padding: 30px;
    text-align: center;
}

.search-bar .collection-item{
    display: block;
    line-height: 1.5rem;
    padding: 10px 20px;
    margin: 0;
    border-bottom: 1px solid #e0e0e0;
}

.search-bar .collection-item:last-child{
    display: block;
    line-height: 1.5rem;
    padding: 10px 20px;
    margin: 0;
    border-bottom: none;
    padding-bottom: 20px;
}

//Displaying Recipes on Search Page

.recipeWrapper img{
    width:100%;
}

.recipeWrapper:hover{
    margin-top: -15px;
}
.recipesWrapper{
    margin-top: 60px;
    // display:flex;
    // align-items: center;
    // justify-content: space-between;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}
.recipeWrapper{
    padding:10px;
    text-align: center;
    width:100%;
}
.recipeWrapper p{
    display: flex;
    justify-content: center;
    align-items:center ;
    height:50px;
    background-color: black;
    color:white;
}

.scoreRecipe{
    margin-top: -6px;
    height:6px;
}




//Profile and Pantry Page -- begin
.profile-wrapper{
    width:60%;
    margin:auto;
    color: white;
    background-color: black;
    padding-top:40px;
    padding-bottom:20px;
}

.profile-wrapper button{
    padding: 20px;
    margin-top: 30px;
    margin-bottom: 50px;
}

.profile-actions{
    // display:flex;
    // justify-content: space-around;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    padding-bottom: 30px;
    // grid-gap: 30px;
}

.profile-actions button{
    width:30%;
    margin:auto;
    margin-top:20px;
    margin-bottom: 20px;
}

.profile-wrapper p{
    text-align: center;
}

.profile-image{
    background-image: url('assets/cookmebowl.jpg');
    background-position: center;
    height:200px;
}

.adding-ingredient{
    padding-top:60px;
    padding-bottom:10px;
    display:flex;
    justify-content: center;
}

.adding-ingredient input{
    width:260px;
    padding:10px;
}

.ingredients-list {
    width:100%;
    display: flex;
    gap: 1rem;
    flex-flow: row wrap;
    text-align: center;
    padding-top:20px;
    padding-bottom: 20px;
}

.ingredients-list .collection-item{
    margin:auto;
    padding:0 30px 0 30px;
    text-align: center;
    align-items: center;
    flex-basis: 10%;
    height: 4rem;
}

.ingredients-list .collection-item:hover{
    color:white;
    text-decoration: underline;
}

.pantry-wrapper{
    padding-top: 100px;
    padding-bottom: 100px;
    text-align: center;
}

.ingredients-profile {
    margin-top: 20px;
    margin-left: 60px;
    margin-right: 60px;
    display: flex;
    gap: 1rem;
    flex-flow: row wrap;
    text-align: center;
    padding-top:30px;
    padding-bottom: 10px;
    border: 8px double black;
}

.ingredients-profile li{
    margin:auto;
    padding:0 30px 0 30px;
    text-align: center;
    align-items: center;
    flex-basis: 14%;
    height: 4rem;
}

//email changer:
.email-changer * {
    padding:20px;
    text-align: center;
}

.email-changer-form{
    margin:auto;

}

//Profile and Pantry Page -- end

//Recipe Page
.recipe-wrapper{
    margin-top: 30px;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
}

.recipe-wrapper .medium-text{
    text-align: left;
    letter-spacing: 2px;
}

.recipe-wrapper p{
    padding:20px;
}

.recipe-ingredients h1{
    padding-bottom: 24px;
    padding-top: 24px;

}

.recipe-ingredients h2{
    padding-bottom: 16px;
    padding-top: 16px;
}

.recipe-img{
    width:40%;
    padding:30px;
}
.recipe-img img{
    width:100%;
}

.recipe-ingredients{
    padding: 30px;
    width:40%;
}
.recipe-ingredients p{
    line-height: 20px;
    padding: 6px;
}

.recipe-instructions{
    padding: 30px 70px 70px 70px;
    width:100%;
}


//buttons --begin (to ameliore)
//buton home
.box-2{
    margin-top:30px;
    margin-left:120px;
}
.btn {
  line-height: 50px;
  height: 50px;
  text-align: center;
  width: 250px;
  cursor: pointer;
}
.btn-style {
    color: rgb(0, 0, 0);
    transition: all 0.5s;
    position: relative; 
  }
  .btn-style span {
    z-index: 2; 
    display: block;
    position: absolute;
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 2px;
    font-size: 14px;
    width: 100%;
    height: 100%; 
  }
  .btn-style::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: all 0.5s;
    border: 1px solid rgba(255,255,255,0.2);
    background-color: rgba(255,255,255,0.1);
  }
  .btn-style::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: all 0.5s;
    border: 1px solid rgba(255,255,255,0.2);
    background-color: rgba(255,255,255,0.1);
  }
  .btn-style:hover::before {
    transform: rotate(-45deg);
    background-color: rgba(255,255,255,0);
  }
  .btn-style:hover::after {
    transform: rotate(45deg);
    background-color: rgba(255,255,255,0);
  }


  //button profile
.button-profile {
    --b: 3px;   /* border thickness */
    --s: .45em; /* size of the corner */
    --color: #d3d3d3;
    
    padding: calc(.5em + var(--s)) calc(.9em + var(--s));
    color: var(--color);
    --_p: var(--s);
    background:
      conic-gradient(from 90deg at var(--b) var(--b),#0000 90deg,var(--color) 0)
      var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p));
    transition: .3s linear, color 0s, background-color 0s;
    outline: var(--b) solid #0000;
    outline-offset: .6em;
    font-size: 16px;
  
    border: 0;
  
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .button-profile:hover,
  .button-profile:focus-visible{
    --_p: 0px;
    outline-color: var(--color);
    outline-offset: .05em;
  }
  
  .button-profile:active {
    background: var(--color);
    color: #fff;
  }

  //buttons --end




//Search BAR -begin
.search-bar, .search-bar * {
	border: 0;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
:root {
	--fg: #17181c;
	--primary: #000000;
	--dur: 1s;
}
.search-bar{
	font-size: calc(16px + (24 - 16)*(100vw - 320px)/(1280 - 320));
}
.search-bar input {
	color: #17181c;
	font: 1em/1.5 Hind, sans-serif;
}

.search-bar form, .search-bar input, .search-bar .caret {
	margin: auto;
}
.search-bar form {
	position: relative;
	width: 100%;
	max-width: 17em;
}
.search-bar input, .search-bar .caret {
	display: block;
	transition: all calc(1s * 0.5) linear;
}
.search-bar input {
	background: transparent;
	border-radius: 50%;
	box-shadow: 0 0 0 0.25em inset;
	caret-color: #000000;
	width: 2em;
	height: 2em;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
.search-bar input:focus, .search-bar input:valid {
	background: #ffffff;
	border-radius: 0.25em;
	box-shadow: none;
	padding: 0.75em 1em;
	transition-duration: calc(1s * 0.25);
	transition-delay: calc(1s * 0.25);
	width: 100%;
	height: 3em;
}
.search-bar input:focus {
	animation: showCaret 1s steps(1);
	outline: transparent;
}
.search-bar input:focus + .caret, .search-bar input:valid + .caret {
	animation: handleToCaret 1s linear;
	background: transparent;
	width: 1px;
	height: 1.5em;
	transform: translate(0,-1em) rotate(-180deg) translate(7.5em,-0.25em);
}
.search-bar input::-webkit-search-decoration {
	-webkit-appearance: none;
}
.search-bar label {
	color: #e3e4e8;
	overflow: hidden;
	position: absolute;
	width: 0;
	height: 0;
}
.search-bar .caret {
	background: currentColor;
	border-radius: 0 0 0.125em 0.125em;
	margin-bottom: -0.6em;
	width: 0.25em;
	height: 1em;
	transform: translate(0,-1em) rotate(-45deg) translate(0,0.875em);
	transform-origin: 50% 0;
}

/* Animations */
@keyframes showCaret {
	from {
		caret-color: transparent;
	}
	to {
		caret-color: #000000;
	}
}
@keyframes handleToCaret {
	from {
		background: currentColor;
		width: 0.25em;
		height: 1em;
		transform: translate(0,-1em) rotate(-45deg) translate(0,0.875em);
	}
	25% {
		background: currentColor;
		width: 0.25em;
		height: 1em;
		transform: translate(0,-1em) rotate(-180deg) translate(0,0.875em);
	}
	50%, 62.5% {
		background: #000000;
		width: 1px;
		height: 1.5em;
		transform: translate(0,-1em) rotate(-180deg) translate(7.5em,2.5em);
	}
	75%, 99% {
		background: #000000;
		width: 1px;
		height: 1.5em;
		transform: translate(0,-1em) rotate(-180deg) translate(7.5em,-0.25em);
	}
	87.5% {
		background: #000000;
		width: 1px;
		height: 1.5em;
		transform: translate(0,-1em) rotate(-180deg) translate(7.5em,0.125em);
	}
	to {
		background: transparent;
		width: 1px;
		height: 1.5em;
		transform: translate(0,-1em) rotate(-180deg) translate(7.5em,-0.25em);
	}
}
//Search BAR -end

// Sign up
.errorMessage {
    color: red;
    text-align: center;
}