<div class="login-wrapper">
        <img src="../../../assets/vegetables.jpg" alt="Cuisine&moi_logo">
        <p class="medium-text">Log in</p>
        <p class="small-text">to use our services...</p>
    <form [formGroup]="loginForm">
        <p class="errorMessage">{{ errorMessage }}</p>
        <div class="form-group">
            <input type="email" id="email" placeholder="Email address" formControlName="email">
        
            <input type="password" id="password" placeholder="Password" formControlName="password">

            <button type="button" (click)="onLogin()" [disabled]="loginForm.invalid">Log in</button>
        </div>
    </form>
    <div class="forgot-password-wrapper">
    <div class="forgot-password">
        <!-- <a href="">Forgot your password?</a> -->
        <p>
            Don't have an acount? <a routerLink="/signup" routerLinkActive="active">sign up</a>
        </p>
    </div>
    </div>
</div>
<div class="vertical-blank"></div>