.headerWrapper{
    background: linear-gradient(180deg, #188da733 0%, #72279533 96.35%);
    padding:30px;
}

ul{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
}

li {
    list-style-type: none;
}

.debugPannel button{
    margin:4px;
}

.green{
    background:rgb(55, 167, 11);
    border: 2px solid rgba(0, 0, 0, 0.2666666667);
}

img{
    height:50px;
}