<nav class="headerWrapper">
    <li>
        <a routerLink="">Cook Me</a>
    </li>
    <li>
        <a routerLink="users">Users list (dev)</a>
    </li>
    <li>
        <a routerLink="adduser">Add User (dev)</a>
    </li>
    <li>
        <a routerLink="recipe">Recipe (dev)</a>
    </li>
    <li>
        <a routerLink="search">Search</a>
    </li>
    <li>
        <a routerLink="profile">Profile</a>
    </li>
    <li>
        <a routerLink="signup">Sign up</a>
    </li>
    <li>
        <a routerLink="login">Log in</a>
    </li>
</nav>