<nav class="headerWrapper">
    <ul>
        <li class="debugPannel">
            <button (click)="swapDebugMode()" [ngClass]="{'green' : debug}">Debug</button>
            <a *ngIf="debug" routerLink="recipe" routerLinkActive="active">Recipe</a>
            <br><a *ngIf="debug" routerLink="users" routerLinkActive="active">Users list</a>
        </li>
        <li>
            <a routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"><img src="../../../assets/cookmelogo.png"></a>
        </li>
        <li>
            <a routerLink="search" routerLinkActive="active">Search</a>
        </li>

        

        <div class="profileWrapper">
            <li *ngIf="!isAuth">
                <a routerLink="login" routerLinkActive="active">Log in </a>
            </li>

            <li *ngIf="isAuth">
                <a routerLink="profile" routerLinkActive="active">Profile</a>
            </li>

            <li *ngIf="isAuth">
                <a style="cursor: pointer" routerLinkActive="active" (click)="onLogout()">Log out</a>
            </li>
        </div>
    </ul>

    <!-- <nav>
        <li>
            <img src="../../../assets/cookmelogo.png">
        </li>
        <li>
            <a routerLink="">Home</a>
        </li>
        <li *ngIf="debug">
            <a routerLink="users">Users list (debug)</a>
        </li>
        <li *ngIf="debug">
            <a routerLink="recipe">Recipe (debug)</a>
        </li>
        <li *ngIf="logged">
            <a routerLink="search">Search</a>
        </li>
        <li *ngIf="logged">
            <a routerLink="profile">Profile</a>
        </li>
        <li *ngIf="debug">
            <a routerLink="signup">Sign up (debug)</a>
        </li>
        <li *ngIf="!logged">
            <a routerLink="login">Log in</a>
        </li>
        <li *ngIf="logged">
            <a routerLink="logout">Log out</a>
        </li>
        <li class="debugPannel">
            <button (click)="swapLoggedMode()" [ngClass]="{'green' : logged}">Logged</button>
            <button (click)="swapDebugMode()" [ngClass]="{'green' : debug}">Debug</button>
        </li>
    </nav> -->
</nav>