.headerWrapper{
    background: linear-gradient(180deg, rgba(24, 141, 167, 0.2) 0%, rgba(114, 39, 149, 0.2) 96.35%);
    padding:30px;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

li {
    list-style-type: none;
}

.debugPannel button{
    margin:4px;
}

.green{
    background:rgb(55, 167, 11);
    border: 2px solid rgba(0, 0, 0, 0.2666666667);
}

img{
    height:50px;
}