<nav class="headerWrapper">
    <ul>
        <li class="debugPannel">
            <button (click)="swapDebugMode()" [ngClass]="{'green' : debug}">Debug</button>
            <!--<a *ngIf="debug" routerLink="recipe/poutine" routerLinkActive="active">Recipe(poutine)</a>-->
            <br><a *ngIf="debug" routerLink="users" routerLinkActive="active">Users list</a>
        </li>
        <li>
            <a routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"><img src="../../../assets/cookmelogo.png"></a>
        </li>
        <li *ngIf="isAuth">
            <a routerLink="search" routerLinkActive="active">Search</a>
        </li>

        

        <div class="profileWrapper">
            <li *ngIf="!isAuth">
                <a routerLink="login" routerLinkActive="active">Log in</a>
            </li>

            <li *ngIf="!isAuth">
                <a routerLink="signup" routerLinkActive="active">Sign up</a>
            </li>

            <li *ngIf="isAuth">
                <a routerLink="profile" routerLinkActive="active">Profile</a>
            </li>

            <li *ngIf="isAuth">
                <a style="cursor: pointer" routerLinkActive="active" (click)="onLogout()">Log out</a>
            </li>
        </div>
    </ul>

</nav>