<nav class="headerWrapper">
    <ul>
        <li class="debugPannel">
            <button (click)="swapDebugMode()" [ngClass]="{'green' : debug}">Debug</button>
            <!--<a *ngIf="debug" routerLink="recipe/poutine" routerLinkActive="active">Recipe(poutine)</a>-->
            <br><a *ngIf="debug" routerLink="users" routerLinkActive="active">Users list</a>
        </li>
        <li>
            <a routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"><img src="../../../assets/cookmelogo.png"></a>
        </li>
        <li *ngIf="isAuth">
            <a routerLink="search" routerLinkActive="active">Search</a>
        </li>

        <div class="profileWrapper">
            <li *ngIf="!isAuth" class="content1">
                <a routerLink="signup" routerLinkActive="active">Sign up </a>
                <a routerLink="login" routerLinkActive="active">Log in </a>
            </li>

            <div *ngIf="isAuth">
                <button class="dropDownBtn" mat-button [matMenuTriggerFor]="menu">
                    <span>User</span>
                    <img src="../../../assets/expand_more.png">
                </button>
                <mat-menu #menu="matMenu">
                    <a mat-menu-item routerLink="profile" *ngIf="isAuth">Profile</a>
                    <a mat-menu-item (click)="onLogout()" *ngIf="isAuth">Log out</a>
                </mat-menu>
            </div>
        </div>
    </ul>
</nav>