<!-- RECHERCHE -->

<h3>Search a recipe with a specific ingredient</h3>
<p>The application will check your profile and give you the best recipes</p>
<div>
  <input 
    #searchBox 
    (keyup)="search(searchBox.value)" 
    placeholder="What ingredient do you want to prepare ?"
  />
  <a 
    *ngFor="let ingredient of ingredients$ | async"
    (click)="setCurrentIngredient(ingredient)"
    class="collection-item"
  >
    {{ ingredient }}
  </a>
</div>

<!-- AFFICHAGE DES RESULTATS -->
<div *ngIf="currentIngredient">
  <p>Best recipes with <strong>{{ currentIngredient }}</strong> :</p>
  <div class="recipesWrapper">
    <div
    *ngFor="let recipe of recipes" 
    class="recipeWrapper">
      <img src="{{ recipe[0].meals[0].strMealThumb }}">
      <p>{{ recipe[0].meals[0].strMeal }}</p>
      <p>{{ recipe[1] }} %</p>
      <div class="scoreRecipe" style="width: {{ recipe[1] }}%;background-color: rgb({{ getC1(recipe[1]) }}, {{ getC2(recipe[1]) }}, {{ getC3(recipe[1]) }});"></div>
      <h3><a routerLink="/recipe/{{ recipe.strMeal }}">{{ recipe.strMeal }}</a></h3> 
    </div>
  </div> 
</div>
