<!-- <p><button type="button" (click)="getTest('Thai Green Curry')">Test here</button></p> -->


<!-- RECHERCHE -->

<h3>Search a recipe with a specific ingredient</h3>
<p>The application will check your profile and give you the best recipes</p>
<div>
  <input 
    #searchBox 
    (keyup)="search(searchBox.value)" 
    placeholder="What ingredient do you want to prepare ?"
  />
  <a 
    *ngFor="let ingredient of ingredients$ | async"
    (click)="setCurrentIngredient(ingredient)"
    class="collection-item"
  >
    {{ ingredient }}
  </a>
</div>

<!-- AFFICHAGE DES RESULTATS -->

<div *ngIf="currentIngredient">
    
  <p>Best recipes with <strong>{{ currentIngredient }}</strong> :</p>
  <div class="recipesWrapper">
    <div
    *ngFor="let recipe of recipesToDisplay" 
    class="recipeWrapper">
      <img src="{{ recipe[0].strMealThumb }}">
      <p>{{ recipe[1] }} %</p>
      <div class="scoreRecipe" style="width: {{ recipe[1] }}% ;background-color: rgb({{ recipe[2][0] }}, {{ recipe[2][1] }}, {{ recipe[2][2] }});"></div>
      <h3><a routerLink="/recipe/{{ recipe[0].strMeal }}">{{ recipe[0].strMeal }}</a></h3>
    </div>
  </div> 
</div>


