
.collection-item{
    display: block;
    line-height: 1.5rem;
    padding: 10px 20px;
    margin: 0;
    border-bottom: 1px solid #e0e0e0;
}

img{
    height:150px;
}

.recipesWrapper{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}

.recipeWrapper{
    border:1px solid black;
    width: 200px;
    padding: 10px;
    margin:10px;
    text-align: center;
    display:flex;
    flex-direction:column;
    border-radius: 10px;
}