<!-- RECHERCHE -->
<div class="search-wrapper">
  <h1 class="big-text">Search recipes</h1>
  <p>Tell us what ingredient you want to cook and we will give you the best recipe for you!</p>
  <div>
    <form class="search-bar">
      <label for="search">Search</label>
      <input
      #searchBox
      (keyup)="search(searchBox.value)"  type="search" pattern=".*\S.*" required>
      <span class="caret"></span>
      <a 
      *ngFor="let ingredient of ingredients$ | async"
      (click)="setCurrentIngredient(ingredient)"
      class="collection-item"
    >
      {{ ingredient }}
    </a>
    </form>
  </div>
</div>
<div class="vertical-blank">
</div>

<!-- AFFICHAGE DES RESULTATS -->
<div *ngIf="currentIngredient" class="display-recipes">
  <h1 class="medium-text">Best recipes with {{ currentIngredient }}</h1>
  <div class="recipesWrapper">
    <div *ngFor="let recipe of recipes" class="recipeWrapper">
      <div [app-recipe-short]="recipe"></div>
    </div>
  </div> 
</div>
<div class="vertical-blank">
</div>

