<section class="hero">
    <p class="big-text">Welcome</p>
    <h1>Discover the best recipes for your ingredients with Cook Me</h1>
    <div class="box-2" *ngIf="!isAuth">
        <div class="btn btn-style">
          <span (click)="onSignUp()">Create an account</span>
        </div>
    </div>
</section>

<section class="home-main">
<div class="home-main-image">

</div>
<div class="home-main-text">
    <h1 class="medium-text">Discover the Magic of Personalized Recipes with Cook Me</h1>
    <p>Welcome to Cook Me, the ultimate personalized recipe experience! Our unique platform allows you to create a personal profile and manage your pantry ingredients, so that we can suggest the perfect recipe for you.</p>
    <p>With Cook Me, you can easily update your pantry by adding or removing ingredients, ensuring that the recipe suggestions are tailored to your preferences and what you have on hand.</p>
    <p>Once you've input your pantry, you can search for recipes by main ingredient and be presented with a selection of the best recipes that you can make with the ingredients you have on hand. These recipes are organized by relevance, and you can click on any recipe to view the details and instructions.</p>
    <p>Cook Me is the perfect solution for those who want to cook delicious meals without having to worry about missing ingredients. Try it out today and discover the magic of personalized recipes!</p>

</div>
</section>
