<section class="hero">
    <p class="big-text">Welcome</p>
    <h1>Discover the best recipes for your ingredients with Cook Me</h1>
    <div class="box-2">
        <div class="btn btn-style">
          <span (click)="onSignUp()">Create an account</span>
        </div>
      </div>
</section>

<section class="home-main">
<div class="home-main-image">

</div>
<div class="home-main-text">
    <h1 class="medium-text">Discover the Magic of Personalized Recipes with Cook Me</h1>
    <p>Welcome to Cook Me, the ultimate personalized recipe experience! Our unique platform allows you to create a personal profile and manage your pantry ingredients, so that we can suggest the perfect recipe for you.</p>
    <p>With Cook Me, you can easily update your pantry by adding or removing ingredients, ensuring that the recipe suggestions are tailored to your preferences and what you have on hand.</p>
    <p>Once you've input your pantry, you can search for recipes by main ingredient and be presented with a selection of the best recipes that you can make with the ingredients you have on hand. These recipes are organized by relevance, and you can click on any recipe to view the details and instructions.</p>
    <p>Cook Me is the perfect solution for those who want to cook delicious meals without having to worry about missing ingredients. Try it out today and discover the magic of personalized recipes!</p>

</div>
</section>


<!-- <section class="features">
    <p>Welcome to Cook Me, your ultimate kitchen companion. We know that you love to cook and we want to make it even easier for you. Create your account and add all the ingredients you have at home. Our algorithm will then suggest the best recipes for you based on what you have in your pantry. No more wasted ingredients and no more last-minute grocery runs. With Cook Me, you'll have the perfect recipe for every occasion.</p>
    <h2>Our features</h2>
    <ul>
        <li>Search for recipes based on your ingredients</li>
        <li>Suggestions for recipes based on what you have in your pantry</li>
        <li>Manage your profile and ingredients list</li>
        <li>Sort search results by relevance and availability of ingredients</li>
    </ul>
</section>
<section id="about">
    <h2>About Us</h2>
    <p>Cook Me is dedicated to helping you find delicious recipes using the ingredients you already have at home. With our algorithm, we offer the best suggestions for recipes so you can cook delicious meals without having to go to the store. We want to make cooking easier and more enjoyable for you. Join Cook Me today and start discovering new recipes.</p>
</section> -->
