img{
    height:150px;
}

.recipesWrapper{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}

.recipeWrapper{
    border:1px solid black;
    width: 200px;
    padding: 10px;
    margin:10px;
    text-align: center;
    display:flex;
    flex-direction:column;
    border-radius: 10px;
}