<div class="signup-wrapper">
  <p class="medium-text">Create your account</p>
  <p class="small-text">to find customized recipes...</p>

  <p class="errorMessage">{{ errorMessage }}</p>
  
  <form [formGroup]="signupForm">
    <div class="form-group">
      <input type="email" id="email" placeholder="Your email address*" formControlName="email">
      <input type="password" id="password" placeholder="Your password*" formControlName="password">

      <button (click)="onSignup()" [disabled]="signupForm.invalid">Sign up</button>
    </div>
  </form>

  <div class="already-got-account-wrapper">
    <div class="already-got-account">
        <p>
          You already got an acount? <a routerLink="/login" routerLinkActive="active">login</a>
        </p>
    </div>
  </div>

  <img src="../../../assets/soup.jpg" alt="Cuisine&moi_logo">

</div>
<div class="vertical-blank"></div>



 