<div class="signup-wrapper">
  <p class="medium-text">Create your account to find customized recipes</p>

  <form [formGroup]="signupForm">
    <div class="form-group">
      <label for="email">Email address <span>*</span> </label>
      <input type="email" id="email" placeholder="Email address" formControlName="email">
    </div>

    <div class="form-group">
      <label for="password">Password <span>*</span> </label>
      <input type="password" id="password" placeholder="Your password" formControlName="password">
    </div>

      <button (click)="onSignup()" [disabled]="signupForm.invalid">Sign up</button>
  </form>

  <p class="errorMessage">{{ errorMessage }}</p>
  <img src="../../../assets/cookmebowl.jpg" alt="Cuisine&moi_logo">

</div>
<div class="vertical-blank"></div>



