<div class="profileWrapper">
    <h1>My Profile</h1>
</div>

<div class="profileWrapper">
    <div>
        <h1>Actions</h1>
        <p><button type="button" (click)="changeEmail()">Change my email</button></p>
        <p><button type="button" (click)="resetPassword()">Reset my password</button></p>
        <p><button type="button" (click)="setupRandomPantry()">Give me a Random Pantry (for trying app)</button></p>
        <p><button type="button" (click)="removeAllIngredients()">Remove all my ingredients</button></p>
        <p>Add an ingredient to my Pantry:</p>
        <input 
            #searchBox 
            (keyup)="search(searchBox.value)" 
            placeholder="What ingredient do you want to prepare ?"
        />
        <a 
            *ngFor="let ingredient of ingredients$ | async"
            (click)="addIngredient(ingredient)"
            class="collection-item"
        >
            {{ ingredient }}
         </a>
    </div>
    <div>
        <h1>My informations</h1>
        <p>Email adress: {{mail}}</p>
        <p>Pantry :</p>
        <ul class="ingredients-profile"> 
            <li *ngFor="let ingredient of pantry"> 
                {{ingredient}} <button type="button" (click)="removeIngredient(ingredient)">X</button>
            </li>
        </ul>
    </div>
</div>