<div class="profileWrapper">
    <div class="profileContent1">
        <h1>Informations</h1>
        <button type="button" (click)="updateUser()"> Edit profile</button>
        <p> Email adress : {{mail}} </p>
    </div>

    <div class="profileContent2">
        <h1>My pentry</h1>
    <form [formGroup]="ingredientform">
        <input type="text" id="ingredient" placeholder="ingredient" formControlName="ingredient">
        <button type="submit" (click)="addIngredient()"> add an ingredient</button>
    </form>
    <button type="submit" (click)="removeAllIngredients()"> remove all</button>
    <ul> 
        <li *ngFor="let item of pentry"> 
            {{item}} <button type="button" (click)="deleteElement(item)">X</button>
        </li>
    </ul>
    </div>    
</div>