<div class="signupWrapper">
    <div class="signupTitle">
      <img src="" alt="Cuisine&moi_logo">
  
      <h4 class="title">Create your account to find customized recipes</h4>
    </div>
  
    <form [formGroup]="signupForm">
      <div class="form-group">
        <label for="email">Email address <span>*</span> </label>
        <input type="email" id="email" placeholder="Email address" formControlName="email">
      </div>
  
      <div class="form-group">
        <label for="password">Password <span>*</span> </label>
        <input type="password" id="password" placeholder="Your password" formControlName="password">
      </div>
  
      <!-- <div class="form-group">
        <label for="confirmPassword">Confirm password <span>*</span> </label>
        <input type="password" id="confirmPassword" placeholder="Confirm password" formControlName="confirmPassword">
      </div> -->
  
      <button (click)="onSignup()" [disabled]="signupForm.invalid">Sign up</button>
    </form>
  
    <p class="errorMessage">{{ errorMessage }}</p>
  
  </div>